body{
    font-family: Arial;
    box-sizing: border-box;
    background-image: url(https://images.pexels.com/photos/8145335/pexels-photo-8145335.jpeg?cs=srgb&dl=pexels-olia-danilevich-8145335.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
  }
  .back{
    width: 100%;
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
    padding-top: 30px
  }
  .heading-content{
    text-align: center;
    color: #fff;
    margin-bottom: 50px
  }
  .heading-content h1 {
    text-transform: uppercase;
      
  }
  form{
    width: 700px;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 30px;
  
  }
  form p{
    margin-bottom: 5px;
    color: #fff
  }
  .details, textarea, select, button{
    width:100%;
    border: none;
    padding: 12px 0px 12px 10px;
    border-radius: 5px
  }
  textarea{
    margin-bottom: 30px;
    height: 150px;
  }
  button{
    background: yellow;
    color: #000;
    font-weight: bold;
    font-size: 16px;
  }
  span{
    font-size: 15px;
  }
  